/*
 * 微信浏览器优化样式表
 */
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
}

pre {
    word-break: break-all;
    word-wrap: break-word;
}

img {
    border: 0;
}

body {
    background: #f8f7f5;
    color: #222;
    height: 100%;
    padding: 15px 15px 0;
    position: relative;
    -webkit-touch-callout:none;
    font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,"Hiragino Sans GB",Arial,sans-serif;
}

body > .tips {
    display: none;
    left: 50%;
    padding: 20px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 200px;
    z-index: 100;
}

.page {
    padding: 15px;
}

.page .page-error, .page .page-loading {
    line-height: 30px;
    position: relative;
    text-align: center;
}

.btn {
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #222;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 5px;
    moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.activity-info {
}

.activity-meta {
    display: inline-block;
    font-size: 12px;
}

.activity-meta.no-extra {
    margin-left: 0;
}

.activity-info .text-ellipsis {
    display: inline-block;
    vertical-align: middle;
    max-width: 104px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#activity-detail .page-content {
    margin: 18px 0 0;
}

#activity-detail .page-content {
    margin: 10px 0;
}

#activity-detail .page-content .media img {
    width: 100%;
}

#activity-detail .page-content .text {
    color: rgba(62, 62, 62, 0.8);
    line-height: 1.5;
    width: 100%;
}

#activity-detail .page-content .text p {
    *zoom: 1;
    min-height: 1.5em;
    min-height: 1.5em;
    white-space: pre-wrap;
}

#activity-detail .page-content .text {
    font-size: 16px;
}

/*
 * 格图自定义样式表
 */

.status {
    font-size: 12px;
    color: white;
    display: block;
}

.caption {
    display: none;
}

#cover {
    display:none;
    position:absolute;
    left:0;
    top:0;
    background-color:#333333;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity:0.8;
    z-index:900;
}

.page-comment-area {
    margin-bottom: 5px;
    font-size: 14px;
    padding: 5px;
    background-color: #F5F5F5;
    overflow: hidden;
}

.page-comment-area a {
    display: block;
    color: #7B7B7B;
    text-decoration: none;
}

.like-area {
    font-size: 14px;
    padding: 5px;
    overflow: hidden;
}

.page-toolbar {
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    background-color: #C9302C;
    *zoom: 1;
}

.page-toolbar a {
    color: #607FA6;
    font-size: 16px;
    text-decoration: none;
    text-shadow: 0 1px #ffffff;
    -webkit-text-shadow: 0 1px #ffffff;
    -moz-text-shadow: 0 1px #ffffff;
}

.page-footer {
    padding-top: 12px;
    padding-bottom: 12px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    *zoom: 1;
}

.page-footer a {
    color: #607FA6;
    font-size: 16px;
    text-decoration: none;
    text-shadow: 0 1px #ffffff;
    -webkit-text-shadow: 0 1px #ffffff;
    -moz-text-shadow: 0 1px #ffffff;
}

.page-comment-form {
    width:100%;
    background-color:#dddddd;
    margin:0px;
    position:fixed;
    left:0;
    bottom:0;
    z-index:1000;
}

.comment-input {
    margin:0 68px 0 0;
    background-color:#ffffff;
}

.comment-input input {
    width:100%;
    height:37px;
    overflow:hidden;
    border: 0 solid;
}

.comment-button {
    position:absolute;
    right:0;
    top:0;
    width:68px;
    text-align:right;
}

.comment-button button {
    color: white;
    cursor: pointer;
    width:68px;
    height:39px;
    overflow:hidden;
    font-size:14px;
    font-weight: bold;
    padding:5px 0;
    background-color: #3071A9;
    border: 0px solid #cccccc;
}

.name {
    color: #3071A9;
    font-weight: bold;
}

.page-like-area {
    width: 100%;
}

.comment {
    border-bottom-style: none;
    border-width: 1px;
    border-color: white;
}

hr {
    border-width: 1px;
    border-color: white;
}

.like-list, .like-list li {
    margin:0;
    padding:0;
    list-style-type:none;
    text-indent:0;
    display: inline;
}

.comment-list, .comment-list li {
    margin:0;
    padding:0;
    list-style-type:none;
    text-indent:0;
}


.button-area {
    display: table;
    width: 100%;
}

.button-area button {
    cursor: pointer;
    display: table-cell;
    width: 50%;
    height:39px;
    overflow:hidden;
    font-size:14px;
    font-weight: bold;
    border-width: 0;
    padding: 0;
}

.btn-like {
    background-color: #F9E2E2;
}

.btn-comment {
    background-color: #E6E6FA;
}


#elevator_item {
    height:50px;
    position:fixed;
    right:5px;
    top:5px;
    -webkit-transition:opacity .4s ease-in-out;
    -moz-transition:opacity .4s ease-in-out;
    -o-transition:opacity .4s ease-in-out;
    opacity:1;
    z-index:9999
}

#elevator_item.off {
    opacity:90;
}

#elevator_item .qr {
    display:block;
    width:50px;
    height:40px;
    border-radius:2px;
    cursor:pointer;
    color: white;
    text-align: center;
    background-color:rgba(0,0,0,.6)
}

#elevator_item .qr:hover{
    background-color:rgba(0,0,0,.7)
}

#elevator_item .qr:active{
    background-color:rgba(0,0,0,.75)
}

#elevator_item .qr-popup {
    width:300px;
    height:50px;
    background-color:white;
    position: absolute;
    left:-310px;
    top:0;
    border-radius:2px;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    opacity:1;
}

.block-button {
    cursor: pointer;
    display: block;
    width: 100%;
    height:45px;
    overflow:hidden;
    font-size:16px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 15px 0;
}

.block-button.blue {
    border: 0;
    color: white;
    background-color: #3071A9
}

.block-button.white {
    border: 1px solid #999999;
    color: black;
    background-color: #EEEEEE;
}

.block-button.red {
    border: 0;
    color: white;
    background-color: #C9302C;
}

.bigicon {
    text-align: center;
    font-size: 24px;
    margin: 20px;
    color: #3071A9;
}
#topbar_black{
    width: 100%;
    height: 3px;
    background-color: #2c3033;
}
#topShadow{
    width: 100%;
    position: fixed;
    top:7px;
}
#topShadow div{
    width: 100%;
}
#topShadowBar{
    height:10px;
    background-size: 100% 100%;
}
p{
    word-wrap: break-word;
    word-break: normal;
}

/*
 * 媒体查询 响应式样式
 */
@media screen and (min-width: 1200px) {
    .nav-button {
        width: 740px !important;
        margin: auto;
    }
    .headimgbac .medal{
        top: 735px !important;
    }
    #music {
        margin-right: 578px !important;
    }
    #activity-detail {
        width: 740px;
        margin-left: auto;
        margin-right: auto;
    }
    .menubutton{
        width: 740px !important;
    }
    #topbar{
        width: 740px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .subscribeuser{
        width: 640px;
        margin: auto;
    }

    .bootom-tab-bar{
        width: 740px !important;
    }

    #activity-detail .fanLike {
        right: 150px;
    }
    .headbacsanjiao {
        border-right-width: 740px !important;
    }
    .headimgbac {
        height: 740px !important;
    }
    #activity-detail .fanUp {
        right: 150px;
    }
    #activity-detail .fanDown {
        right: 150px;
    }
    #activity-detail .fanSao {
        right: 150px;
    }
    #activity-detail .wrap {
        left: 220px;
    }
}